.recipesPage {
  overflow: hidden;
}

.recipes {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  margin-bottom: 60px;
  margin-top: 20px;
  width: 100vw;
}
